:root {
    --blue: #00035C;
    --off-white: #FCFCFF;
    --cta-orange: #FFA327;
    --heading-brown: #383024;
    --heading-black: #1A1A1F;
    --text-dg: #403D39;
    --text-mg: #525156;
    --text-lg: #CFC7EE;
    --theme-font: "Ubuntu";
    --body-font: "Montserrat";
    --body-font-size: 1rem;
    --heading-font-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --topper-font-size: clamp(0.8125rem, 1.6vw, 1rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-container {
    width: 100%;
    padding: 1rem;
    max-width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.center-justify{
    justify-content: center;
}

.flex.column {
    flex-direction: column;
}

.three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.boldest {
    font-weight: 700;
}

.theme-font {
    font-family: var(--theme-font);
}

.hero-heading {
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    color: var(--off-white);
    letter-spacing: -2px;
    line-height: 0.92;
    font-family: var(--theme-font);
    margin-bottom: 1rem;
    max-width: 450px;
}

.heading {
    font-size: var(--heading-font-size);
    font-family: var(--theme-font);
    letter-spacing: -2px;
    line-height: 0.92;
    font-weight: 700;
    margin-bottom: 1rem;
}

.heading-medium {
    font-size: 2rem;
    font-family: var(--theme-font);
    letter-spacing: -2px;
    line-height: 0.92;
    font-weight: 700;
}

.heading-topper {
    font-family: var(--theme-font);
    font-weight: 800;
    letter-spacing: 3px;
}

.lg {
    color: var(--text-lg) !important;
}

.mg {
    color: var(--text-mg) !important;
}

.dg {
    color: var(--text-dg) !important;
}

.font-brown {
    color: var(--heading-brown) !important;
}

.font-black {
    color: var(--heading-black) !important;
}

.theme-font {
    font-family: var(--theme-font);
}

.centered {
    text-align: center;
}

.auto-margin {
    margin: auto;
}

.img-wrapper {
    display: block;
    overflow: hidden;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

img {
    display: block;
}

.small-scale {
    font-size: clamp(1rem, 0.9342rem + 0.2632vw, 1.25rem) !important;
}

.med-scale {
    font-size: clamp(1rem, 0.3979rem + 1.1268vw, 1.75rem) !important;
}

.large-scale {
    font-size: clamp(2rem, 1.6479rem + 1.1268vw, 3rem) !important;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 600;
}

.boldest {
    font-weight: 800;
}

.cta-btn {
    padding: 1rem 1.5rem;
    background-color: var(--cta-orange);
    color: var(--off-white);
    font-weight: 800;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: all 0.15s ease;
    display: block;
    max-width: 300px;
    box-shadow: 5px 5px 8px #29292991;
}

.cta-btn::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--off-white);
    transform: translateX(-105%) skewX(35deg);
    height: 100%;
    width: 120%;
    transition: all 0.3s ease;
    z-index: -1;
}

.cta-btn:hover {
    color: var(--blue);
}

.cta-btn:hover::after {
    transform: translateX(-1%) skewX(15deg);
}

/*-------- PAGE CONTENT --------*/

html, body {
    overflow-x: hidden;
    font-family: var(--body-font);
}

/*--------- HEADER ----------*/

.header {
    position: fixed;
    font-family: var(--theme-font);
    top: 0;
    left: 50%;
    width: 80%;
    height: 6rem;
    padding: 0.5rem 2rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, 40px);
    background: var(--off-white);
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(44, 44, 44, 0.37);
    transition: all 0.3s ease;
}

.header.fixed {
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0px;
}

.header-left,
.header-right {
    flex: 0 0 auto;
}

.header-left {
    display: flex;
    justify-self: flex-start;
}

.logo {
    height: 4rem;
    width: auto;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-center ul{
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 1rem;
    list-style: none;
    gap: 1.5rem;
}

.link {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-family: url('../fonts/Ubuntu-Bold.ttf');
    font-weight: 800;
    letter-spacing: 1px;
}

.link.selected {
    color: var(--cta-orange);
}

.lang-icon {
    height: 25px;
    width: 25px;
}

/*------HERO------*/

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10rem 0;
}

.hero-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    z-index: -1;
    transform: scaleY(0.9);
    transform-origin: top;
    pointer-events: none;
}

.hero-holder {
    color: var(--text-lg);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 2rem;
    width: 90%;
    max-width: 1500px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
}

.hero-btn-holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    color: var(--off-white);
}

.hero-btn-holder a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.hero-img {
    width: 30vw;
    max-width: 800px;
    min-width: 450px;
}

/*-----FIRST SECTION-----*/

#section1 {
    margin-top: -7rem;
    margin-bottom: 5rem;
}

#section1 p.dg {
    letter-spacing: 0.7px;
}

#first-card-grid {
    min-height: 350px;
    margin: 3rem auto;
    width: auto;
    max-width: 1200px;
    gap: 3rem;
}

.service-card-wrapper {
    position: relative;
    transition: all ease 0.3s;
}

.service-card-wrapper:hover { transform: translateY(-10px); }

.service-card-wrapper:hover .index-service-card { box-shadow: 0px 5px 10px 2px #29292991; }

.service-card-wrapper:hover .index-service-card p { color: var(--text-dg); }

.service-card-wrapper:hover .index-service-card::before { bottom: 0; }
.service-card-wrapper:hover .index-service-card::after { bottom: 0; }

.service-card-wrapper:hover .index-service-card-icon-holder { background-color: #00035C; }

.service-card-wrapper:hover .index-service-card-icon { filter: invert() }

.index-service-card {
    max-width: 350px;
    min-width: 300px;
    min-height: 350px;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 4.5rem 1.5rem 1rem;
    margin: auto;
    color: var(--text-mg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: all ease 0.15s;
}

.index-service-card::before {
    content:'';
    position: absolute;
    background-image: url('../img/index/service-card-flair2.svg');
    background-repeat: no-repeat;
    background-size:cover;
    bottom: -100%;
    left: 0;
    width: 80%;
    height: 20%;
    z-index: -1;
    transition: all 0.3s ease;
}

.index-service-card::after {
    content:'';
    position: absolute;
    background-image: url('../img/index/service-card-flair1.svg');
    background-repeat: no-repeat;
    background-size:cover;
    bottom: -100%;
    right: 0;
    width: 70%;
    height: 80%;
    z-index: -1;
    transition: all 0.45s ease;
}

.index-service-card a {
    color: var(--text-dg);
    font-weight: 600;
    letter-spacing: 0.5px;
}

.index-service-card-icon-holder {
    position: absolute;
    top: 0;
    left: 50%;
    height: 110px;
    width: 110px;
    transform: translate(-50%, -40%);
    background-color: #F2F2F2;
    color: #000;
    padding: 1.5rem;
    border-radius: 100px;
    z-index: 3;
    transition: all 0.3s ease;
}

.index-service-card-icon {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.2s ease;
}

/*-------SECOND SECTION--------*/

#section2 {
    background-color: #F2F2F2;
}

#solutions-area {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr)) ;
    margin: auto;
    gap: 1.5rem;
}

.flex-left {
   max-height: 800px;
}

.portrait {
    position: relative;
    border-radius: 25px 25px 0 25px;
    box-shadow: 2px 2px 20px #1d1d1d56;
    width: auto;
    height: 100%;
}

.portrait img {
    aspect-ratio: 6 / 8;
}

.portrait-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1rem;
    background-color: var(--off-white);
}

.flex-right {
    max-width: 650px;
    max-height: 800px;
    justify-self: center;
    align-self: center;
}

.package-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem 2rem;
    margin-top: 2rem;
}

.package-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.package-item-img {
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(74%) saturate(3271%) hue-rotate(232deg) brightness(75%) contrast(126%);
}

.package-item-text {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
}

@media screen and (max-width: 1095px) {
    #first-card-grid {
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}